:root {
    --nord0: #2e3440; /* used for background color */
    --nord1: #3b4252; /* used for panels, modals, and status bars*/
    --nord2: #434c5e; /* used for background if text highlighting a particular line*/
    --nord3: #4c566a; /* highest contrast, swappable for nord2 if not enough contrast*/
  
    /* -- text colors */
    --nord4: #d8dee9; /* highlights for other UI elements */
    --nord5: #e5e9f0; /* highlights for other UI elements */
    --nord6: #eceff4; /* base text color */
  
    /* -- blues -- */
    --nord7: #8fbcbb; /* primary accent */
    --nord8: #88c0d0; /* focus background color for buttons & text*/
    --nord9: #81a1c1; /* */
    --nord10: #5e81ac; /* */
  
    /* -- other colors */
    --nord11: #bf616a; /* error color */
    --nord14: #a3be8c; /* success color */
    /* ------------ */
  
    font-family: "Inter", sans-serif;
    --text-c: var(--nord6);
    --div-c: var(--nord1);
    --bg-c: var(--nord0);
    --accent-c: var(--nord7);
    --error-c: var(--nord11);
    --success-c: var(--nord14);
  }
  
  body {
    margin: 0;
    background-color: var(--nord0);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  hr {
    margin-top: 2px;
    margin-bottom: 2px;
    height: 2px;
    background-color: var(--nord7);
    overflow: visible;
    text-align: center;
    border: none;
  }
  
  a {
    color: var(--nord8);
  }
  
  /* -- nav bar css -- */
  header {
    margin: 0;
    padding: 0 1em;
    background: var(--nord1);
  }
  
  h1 {
    font-size: 2em;
    color: var(--nord4);
    margin: 0.2rem;
  }
  
  h2 {
    margin: 0;
    font-size: 1em;
  }
  
  nav {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  
  nav a {
    padding: 1em 0.5em;
    color: var(--nord6);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--nord7);
  }
  .outside-link-buttons {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
  }
  .outside-link-buttons a {
    color: var(--nord8);
  }
  @media (max-width: 720px) {
    .outside-link-button {
      display: none;
    }
  }
  
  .contentArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  }
  button {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    text-align: inherit;
    font: inherit;
    border-radius: 0;
    appearance: none;
  }
  
  /* podcast card css */
  
  .podcast-area {
    width: 50rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  .podcast-card {
    display: flex;
    flex-direction: column;
    max-width: 15em;
    color: var(--nord6);
    transition: all 0.2s ease-in-out;
    border-radius: 10px 10px 10px 10px;
    margin: 5px;
  }
  
  .podcast-card:hover {
    outline: 2px var(--accent-c) solid;
    outline-offset: -1px;
    cursor: pointer;
    transform: scale(102%);
  }
  
  .podcast-card:active {
    outline: 4px var(--nord10) solid;
    outline-offset: -1px;
    transform: scale(105%);
    cursor: pointer;
  }
  
  .podcast-card-header {
    flex-wrap: wrap;
    max-width: inherit;
  }
  
  .podcast-card-image {
    border-radius: 10px 10px 0 0;
  }
  
  .podcast-card-body {
    background-color: var(--nord1);
    padding: 5px;
    border-radius: 0px 0px 10px 10px;
  }
  
  .podcast-card:hover .podcast-card-body {
    background-color: var(--nord2);
  }
  
  .podcast-card:active .podcast-card-body {
    background-color: var(--nord3);
  }
  
  /* icon styling*/
  .icon {
    font-size: 17pt;
    color: var(--nord9);
    transition: all 0.2s ease-in-out;
  }
  
  .icon:hover {
    font-size: 20pt;
  }
  
  .icon:active {
    color: var(--nord7);
  }
  /* footer styling*/
  footer {
    padding: 2em 1em 6em 1em;
    background-color: var(--nord2);
    color: var(--nord4);
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .login {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
  }
  